@import "tailwindcss";

:root {
  --background: #f5f7fa;
}

/* @theme inline {
  --color-background: var(--background);
} 


Esta media query es para la preferencia del usuario del color

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
